#root{
  width: 1049px;
  margin: auto;
}
.currentEmployee{
  text-align: center;
}
.title {
  display: flex;
  align-items: center;
  justify-content: center;
}


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

label {
  display: block;
  margin-top: 1rem;
  margin-bottom: 10px;
}

.address {
  margin-top: 10px;
}

.modal{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  z-index: 1;
  padding: 20px;
  box-sizing: border-box;
  background-color: rgba(0,0,0,0.75);
  text-align: center;
}
.modal::before{
  content: "";
  display: inline-block;
  height: 50%;
  vertical-align: middle;
  margin-right: -0.05em;
}
.modal__box{
  vertical-align: middle;
  position: relative;
  z-index: 2;
  max-width: 500px;
  box-sizing: border-box;
  width: 90%;
  background: #fff;
  padding: 15px 30px;
  border-radius: 8px;
  box-shadow: 0 0 10px #000;
  text-align: left;
  margin: auto;
}
.modal__box__closeModal{
  position: absolute;
  top: -12.5px;
  right: -12.5px;
  display: block;
  width: 30px;
  height: 30px;
  text-indent: -9999px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(../../assets/close.png);
}



.paginationBtns{
  width: 25%;
  float: right;
  box-sizing: border-box;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  min-width: 1.5em;
  padding: 0.5em 1em;
  margin-left: 2px;
  text-align: center;
  text-decoration: none !important;
  cursor: pointer;
  cursor: hand;
  color: #333 !important;
  border: 1px solid transparent;
  border-radius: 2px;
}
.activePage, .activePage:hover{
  width: 25px;
  color: #333 !important;
  border: 1px solid #979797;
  background: linear-gradient(to bottom, #fff 0%, #dcdcdc 100%);
}
.nextBtn, .previousBtn{
  box-sizing: border-box;
  display: inline-block;
  min-width: 1.5em;
  padding: 0.5em 1em;
  margin-left: 2px;
  text-align: center;
  text-decoration: none !important;
  cursor: pointer;
  *cursor: hand;
  color: #333 !important;
  border: 1px solid transparent;
  border-radius: 2px;
}
.nextBtn:hover, .previousBtn:hover{
  color: white !important;
  border: 1px solid #111;
  background: linear-gradient(to bottom, #585858 0%, #111 100%);
}
.previous.disabledBtn > .previousBtn, .previousBtn:hover{
  cursor: default;
  color: #666 !important;
  border: 1px solid transparent;
  background: none;
  box-shadow: none;
}
.next.disabledBtn > .nextBtn, .nextBtn:hover{
  cursor: default;
  color: #666 !important;
  border: 1px solid transparent;
  background: transparent;
  box-shadow: none;
}

.showingEntries{
  float: left;
  padding-top: 25px;
}
.redirectHome{
  clear: both;
  text-align: center;
}


.leftLabel{
  float: left;
  margin-bottom: 25px;
}
.rightLabel{
  float: right;
  margin-bottom: 25px;
}
table{
  margin: 0 auto;
  clear: both;
  border-collapse: separate;
  border-spacing: 0;
  width: 1049px;
}
tr:nth-child(even) {
  background-color: #f1f1f1;
}
td{
  padding: 8px 10px;
  text-align: center;
}